# from my.telegram.org/apps
API_ID=24790031
API_HASH=0c7a496a6e33e862be48af651b935cce

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=

# mongo url from cloud.mongodb.com
MONGO_URL=

OWNER_ID=7632048577

# pyrogram session from @StringFatherBot on telegram
SESSION=AQF6RA8AsKFLeFKCTSRucYW3XjMQXyCvUELod7b93aWavdcxDWz67i2o9NF1d0g73EWkOhcuBIucxbHwiactBtSc69Vdbhh5CBshsvUS6ZvDXkWOJdZT-oS94GkIaeolVbtGVwxK1b-wzUceekFkS4g-7195IJLyaiCCVucKJhDiL7ts9g0GpZJmcC1y1cNjnzkSUmDJ2g42Br4vj5Q4srb_ceHqCyx0n5ueLaI6KO2JIxzm4Qrxqo_2ep9kj0zc2kQRcGmRhr5ZX8OsWziOrOLaptzWrJuvTyyik1_n9AxlL9UDhfCxHnRWFkLDjxEHvBsZ0BezOUBd6mLO8VwN_FQdpmo8gQAAAAIQqiWCAA
