# from my.telegram.org/apps
API_ID=30760740
API_HASH=4d595bd36b2bd105ea79b10b3e3674e1

# from @BotFather on telegram
BOT_TOKEN=8310754623:AAFi6EFt9iGkomsSSYDDGH4msx1-QQO3N74
LOGGER_ID=-1003724317042

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://Govo:Govo@govo.fxh5zyz.mongodb.net/?retryWrites=true&w=majority

OWNER_ID=7632048577

# pyrogram session from @StringFatherBot on telegram
SESSION=BQHVXyQAW9TPHmxGkp05mmDSnj0YQvcXl1hDD5pBs9zWi8rj0f3xEbabVWJVQZJqC1HvUY5_B_ua_pDfgNu7WfXc00cR6xkuCYq4Sez5I7xYnfJHX8JetIvYDGk0CMdELkmCVBqxQ0hkPN0J0-tRqsqfkPqvTIHb3lMnB3U6vTxNoK3vc0a3w4WI33WBuKEQ9BMEjQzR4-ZQoQJma4H3yafBQkZ9i7acuYJtf-N4y0tWjy9cQPxqTWcpVwlUAU41qO9zTcsFA9ZlWUDe2SlC4Yq8PAFu_f2N3lOpE6zK-eI08-xaAms_4Wc6DBZODDmKQ_MBYbxHo85hwxSiGnh5j2r103uyQQAAAAH87swMAA
