# from my.telegram.org/apps
API_ID=30760740
API_HASH=4d595bd36b2bd105ea79b10b3e3674e1

# from @BotFather on telegram
BOT_TOKEN=8310754623:AAFi6EFt9iGkomsSSYDDGH4msx1-QQO3N74
LOGGER_ID=-1003724317042

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://Govo:Govo@govo.fxh5zyz.mongodb.net/?retryWrites=true&w=majority

OWNER_ID=7632048577

# pyrogram session from @StringFatherBot on telegram
SESSION=BQHVXyQAi81K-rYtZXi2gOf4DnJcLPn7Qsy3Zk_1g4XFBXPx05JxYAwoQPIy6sxbErAsFnEeYkz8ag9liP-FELKzRD58uAjDAYjC-W9oid0NwH_dNsOM5WUTvqUT_QSI_DjxCTRXqSwuJvgqy9Zw6EUg-yb2m_79NEu7q__zNqNxrNQB7T8n-fUFy45XNnIMajTEufgyHCFped6lkkO-tUWjD5sqD9V4eRYBPWOWxFsTjhN2S6bF2pCRQ6IVv010Ub6pnoKeGctohkjCPvNpmkFFn8UCzKkU6L5E-e-4cUn6AkdD_2L4ts2qgkdcYrUoWp43Fk35JCa0DjldWsAaKlVClpDC2gAAAAH87swMAA
